body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
    /*'Segoe Script' cursive*/
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}
 #studio-row{
     background-color: lightgreen;
    border-radius: 1em;
 }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

hr {
    border-radius: 1em;
    border: 1px solid;
    color: forestgreen;
}
.card {
    border-radius: 1em;
    background-color: lightgreen;
    display: inline-block;
    margin: 0 2em 4em 2em;
    padding-top: .5em;
    /*padding: 0px 16px 16px 0px;*/
}

.navbar-custom {
    background-color: forestgreen;
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }

    /* change the color of active or hovered links */
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;

        background-color: lightgreen;
    }

.navbar-custom li a {
    color: white !important;
}

table {
    background-color: lightgreen;
    border-radius: 1em;
}




