@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Colgate Way<br />
    Indianapolis, IN  46268<br />
    <abbr title="Phone">P:</abbr>
    765.745.0658
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Admin@SafariStudios.com">Admin@SafariStudios.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@SafariStudios.com">Marketing@SafariStudios.com</a>
</address>