
@{
    ViewBag.Title = "Session Types";
}
<br/>
<h1>Session Types</h1>
<br/>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>Full Band</h2>
        <p> With 16 microphones and a full tracking room, we have the capability to record a full band. </p>
        <br />
        <p>
            The tracking room consists of the following instruments available for use:
            <ul>
                <li>DW Performance Kit 7-Piece w/ Paiste cymbals</li>
                <li>Baldwin Aerosonic 88-Key Upright Piano</li>
                <li>12" Fishman Acoustic Amp</li>
                <li>12" Fender Frontman Amp</li>
            </ul>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Vocals Only</h2>
        <p>We take great pride in our vocal sessions as we have a variety of options to offer for all genres of artists.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h2>Podcast</h2>
        <p> Click here to view your already booked sessions</p>
        <p><a class="btn btn-default" href="Session/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Single Instrument</h2>
        <p>Take a look around and get familiar with all types of sessions that are offered by Safari Studios</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>Beat Production</h2>
        <p> Click here to view your already booked sessions</p>
        <p><a class="btn btn-default" href="Session/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Live Session with Video</h2>
        <p>Take a look around and get familiar with all types of sessions that are offered by Safari Studios</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>