
@{
    ViewBag.Title = "Session Types";
}
<br/>
<h1>Session Types</h1>
<hr />
<br/>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Full Band</h2>
        <p> With 16 microphones and a full tracking room, we have the capability to record a full band. </p>
       
        <p>Although we anticipate you'll want to use your own gear for recording, we do have a variety of equipment and instruments available for use.</p>

            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Vocals Only</h2>
        <p>We take great pride in our vocal sessions as we have a variety of options to offer for all genres of artists.</p>
       
        <p>Our vocal booth is fully treated with dampening acoustic materials, providing a clean and quiet environment that turns out great quality, vocals.</p>

        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>


    </div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Podcast</h2>
        <p>Produce your next podcast with us!  We can accomodate, comfortably, one host and up to four guests.</p>
        <br />
        <p>Each podcast member will be provided with a Shure SM7B microphone and headphones.  Feel free to provide your own headphones if preferred.</p>
        <p><a class="btn btn-default" href="Session/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Single Instrument</h2>
        <p>No matter your situation or instrument, we have the capability to track it.  Whether you want to start a fresh session, re-amp a previous session, or contribute to a session recorded in another location, we are here for you!</p>
        
        <p>Live instrumentation is a passion of ours here at Safari Studios.  Hope to see you soon for your next recordings!</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Beat Production</h2>
        <p> If your path is more production oriented, we have options in Maschine and Ableton for producing music.</p>
        <p> Our team is able to create tracks specifically for you.  We encourage as much collaboration as possible in this area and would love your presence during the creative process.</p>
        <p><a class="btn btn-default" href="Session/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" id="studio-row">
        <h2>Live Session with Video</h2>
        <p>Record your next music video with us! Our tracking room provides a great environment for a video recording of a live session.</p>
        <p>We also have crew on board to help formulate a plan for an entire video, whether it be filmed in the studio or not! </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
</div>
<br/>